<!DOCTYPE html>
<html>
<head>
    <title>Secret Words</title>
</head>
<body>
    <div><h1>Secret Words:</h1></div>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
</body>
</html>
